body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #555555;
    color: #fff;
    padding: 20px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    
  }
  
  .logo {
    font-size: 0.5rem;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 20px;
    align-items: center;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .hero {
    background-image: url('hero-bg.jpg');
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero-content {
    color: #fff;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #FF5733;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s ease;

  }
  
  .btn:hover {
    background-color: #c41414;
  }
  
  footer {
    background-color: #555555;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }

  